<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<table align="center" cellpadding="0" cellspacing="0" width="400">
    <tbody>
    <tr>
        <td style="padding:15px 15px;background:#f4f3f8;">
            <table style="width:100%;background-color: white;background-image: linear-gradient(to bottom, #FFFFFF ,#FFFFFF);">
                <tbody>
                <tr>
                    <td colspan="2"
                        style="padding:10px 10px 5px 15px; text-align: center; font-size:30px;color:#007bff; font-family: Segoe UI;">
                        <span style="color:#14517d;font-size:24px;padding:10px 0px;"> Event #
                            <b th:text="${event.id}"></b> - <b th:text="${event.eventTitle}"></b> </span></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:0px 15px;background:#f4f3f8;">
            <table bgcolor="#fff" style="width:100%">
                <tbody>
                <tr>
                    <td style="padding:10px"></td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="padding:10px 10px 5px 15px; text-align: center; font-size:23px;color:#14517d; font-family: Segoe UI;">
                        Critical Event Alert <span
                            style="color:#a8a6b9;font-size:14px;padding:10px 0px;"></span></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;font-size:18px;padding:5px 15px;font-weight:bold">
                        <img th:src="${event.photoURL}" th:alt="${event.eventTitle}"></td>
                </tr>
                <tr>
                    <td style="width:60%;font-size:12px;color:#14517d;padding:10px 15px;">
                        <span style="font-weight:bold;color:#14517d;font-family: Segoe UI;font-size:16px;">Hi, <b
                            th:text="${username}"></b></span>
                    </td>
                    <td style="text-align:right;font-size:14px;padding:10px 15px;color:#3b3b3b; "></td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="width:60%;font-size:12px;color:#14517d;padding:10px 15px;border-bottom:1px solid #dddce4;"><span
                            style="font-weight:bold;color:#14517d;font-family: Segoe UI;font-size:16px; text-align: justify;">
A CRITICAL-level event has just been initiated</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="width:60%;font-size:12px;color:#14517d;padding:10px 15px;border-bottom:1px solid #dddce4;"><span
                            style="font-weight:bold;color:#14517d;font-family: Segoe UI;font-size:16px; text-align: justify;">Title: <b
                            th:text="${event.eventTitle}"></b></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="width:60%;font-size:12px;color:#14517d;padding:10px 15px;border-bottom:1px solid #dddce4;"><span
                            style="font-weight:bold;color:#14517d;font-family: Segoe UI;font-size:16px; text-align: justify;">Description: <b
                            th:text="${event.eventDescription}"></b></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="width:60%;font-size:12px;color:#14517d;padding:10px 15px;border-bottom:1px solid #dddce4;"><span
                            style="font-weight:bold;color:#14517d;font-family: Segoe UI;font-size:16px; text-align: justify;">Location: <b
                            th:text="${event.eventLocation}"></b></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"
                        style="width:60%;font-size:12px;color:#14517d;padding:10px 15px;border-bottom:1px solid #dddce4;"><span
                            style="font-weight:bold;color:#14517d;font-family: Segoe UI;font-size:16px; text-align: justify;">Date: <b
                            th:text="${event.eventDate}"></b></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:15px;background:#f4f3f8;">
            <table style="width:100%">
                <tbody>
                <tr>
                    <td colspan="2"
                        style="font-family: Segoe UI;font-size:15px;color:#14517d;text-align:left;padding:15px 0px">
                        <span>Event Planer Team</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td style="background-color:#194e7d;padding:5px;"></td>
    </tr>
    </tbody>
</table>
</body>
</html>